:root {
    --bg-color: #1C1D1F;
    --form-bg-color: #323337;
    --border-color: #272a2c;
    --primary-color: #1DB954;
    --primary-hover: rgb(84, 182, 84);
    --primary-active: #138f3a;
    --text-color: white;
    --link-color: rgb(79, 79, 221);
    --shadow-color: rgba(0, 0, 0, 0.3);
}
